<div class="millo-container" cdkDropListGroup>
  <main class="board">

    <section class="column">
      <h2>Pendientes <span>({{ pendingTasks().length }})</span></h2>
      <div id="PENDING_LIST" cdkDropList [cdkDropListData]="pendingTasks()"
        [cdkDropListConnectedTo]="['IN_PROGRESS_LIST', 'DONE_LIST']" (cdkDropListDropped)="drop($event, 'PENDING')"
        class="task-list">
        @for (task of pendingTasks(); track task.id) {
        <article class="card" cdkDrag [cdkDragData]="task">
          <div class="category-tag" [style.background-color]="task.category?.color"></div>
          <h3>{{ task.title }}</h3>
          <div class="effort">{{ task.effortPoints }} pts</div>
        </article>
        }
      </div>
    </section>

    <section class="column">
      <h2>En Proceso <span>({{ inProgressTasks().length }})</span></h2>
      <div id="IN_PROGRESS_LIST" cdkDropList [cdkDropListData]="inProgressTasks()"
        [cdkDropListConnectedTo]="['PENDING_LIST', 'DONE_LIST']" (cdkDropListDropped)="drop($event, 'IN_PROGRESS')"
        class="task-list">
        @for (task of inProgressTasks(); track task.id) {
        <article class="card" cdkDrag [cdkDragData]="task">
          <div class="category-tag" [style.background-color]="task.category?.color"></div>
          <h3>{{ task.title }}</h3>
          <div class="effort">{{ task.effortPoints }} pts</div>
        </article>
        }
      </div>
    </section>

    <section class="column">
      <h2>Hecho <span>({{ doneTasks().length }})</span></h2>
      <div id="DONE_LIST" cdkDropList [cdkDropListData]="doneTasks()"
        [cdkDropListConnectedTo]="['PENDING_LIST', 'IN_PROGRESS_LIST']" (cdkDropListDropped)="drop($event, 'DONE')"
        class="task-list">
        @for (task of doneTasks(); track task.id) {
        <article class="card" cdkDrag [cdkDragData]="task">
          <h3>{{ task.title }}</h3>
        </article>
        }
      </div>
    </section>

  </main>
</div>